{
  "discord": {
    "token": "DISCORD LOGIN TOKEN",
    "prefix": "/./"
  },
  "twitter": {
    "consumer_key": "",
    "consumer_secret": "",
    "access_token": "",
    "access_token_secret": ""
  },
  "spotify": {
    "client_id": "",
    "client_secret": ""
  }
}
